body {

	background: url('../images/activate-page-background.jpg') no-repeat center center fixed;

	background-position: 0 -200px;

	-webkit-background-size: cover;

	-moz-background-size: cover;	

	background-size: cover;

	font-family: "Titillium Web", Arial, Helvetica, sans-serif;

    margin: 0 30px;


}

input[type=text], input[type=password] {

	max-width: 300px;

	margin: 0 auto;

}

table {

    background-color: #e5ecee;

	

}



#expires {

	color:#fff;

	position: fixed;

	text-align: center;

	top: 0;

	left: 0;

	right: 0;

	height: 20px;

	background: #006aaa; 

}



#version {

	color: #fff;

}



.cq_body  {

	background: transparent;

	margin-top: 20px;

}

.cq_head {

	font-size: 42px;

	font-weight: bold;

	margin-bottom: 20px;

	display: block;

	text-align: center;

}

.cq_table {

	width: 90%;

	max-width: 800px;

}

.cq_table td {

	padding: 3px 10px;

}

img.cq_logo {

	max-width: 400px;

	margin: 0 auto;

	width: 100%; 

}

.button

{

	background-image: url('../images/button.svg');

	background-color:  transparent;

	color: #ffffff;    

    font-weight: 400;

    font-size: 14px;

	transition: 0.4s;

	height: 70px;

	width: 70px;

	margin: 10px 5px;

	border: none;

	

}

.button:hover

{  

	opacity: 0.8;

	transition: 0.4s;

} 

.cq_submit {

	width: 90px;

	height: 90px;

}

.cq_submit_lg {

	background-image: url('../images/button-lg.svg');

	height: 70px;

	width: 156px;

	font-size: 16px;

}   

/* Styling for accounts.php page only */

  .switch

  {

  position: relative;

  display: inline-block;

  width: 60px;

  height: 28px;

  }



  .switch input {display:none;}



  .slider

  {

  position: absolute;

  cursor: pointer;

  top: 0;

  left: 0;

  right: 0;

  bottom: 0;

  background-color: #ccc;

  -webkit-transition: .4s;

  transition: .4s;

  }



  .slider:before

  {

  position: absolute;

  content: "";

  height: 22px;

  width: 22px;

  left: 4px;

  bottom: 4px;

  background-color: white;

  -webkit-transition: .4s;

  transition: .4s;

  }



  input:checked + .slider

  {

  background-color: #2196F3;

  }



  input:focus + .slider

  {

  box-shadow: 0 0 1px #2196F3;

  }



  input:checked + .slider:before

  {

  -webkit-transform: translateX(26px);

  -ms-transform: translateX(26px);

  transform: translateX(26px);

  }



  .slider.round

  {

  border-radius: 34px;

  }



  .slider.round:before

  {

  border-radius: 50%;

  }

  